name: C/C++ CI

on:
  push:
    branches: [ "main", "ugfx" ]
    # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]
  pull_request:
    branches: [ "main", "ugfx" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-artifact:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/classpaddev/hollyhock-3:v2.2.1
      credentials:
       username: ${{ github.actor }}
       password: ${{ secrets.github_token }}

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Install Python and Dependencies
      run: |
        apt-get update && apt-get install -y python3 python3-pip python3-venv
        python3 -m venv venv
        . venv/bin/activate
        pip install Pillow

    - name: Build Resources
      run: |
        . venv/bin/activate
        python3 convert_textures.py
        python3 convert_fonts.py

    - name: Compile
      run: make -j

    - name: Bundle Artifacts
      run: |
        mkdir -p bundle/usr/fonts
        mkdir -p bundle/usr/textures/CPFlappyBird
        cp dist/FlappyBird.hh3 bundle/CPFlappyBird.hh3
        cp -r res/CPFlappyBird/fnt/* bundle/usr/fonts/
        # Copy textures, excluding the fnt directory
        find res/CPFlappyBird -maxdepth 1 -type f -exec cp {} bundle/usr/textures/CPFlappyBird/ \;

    - uses: actions/upload-artifact@v6
      with:
        name: CPFlappyBird-Bundle
        path: bundle/**

    - uses: actions/upload-artifact@v6
      with:
        name: CPFlappyBird-Debug
        path: |
          dist/*.elf
          dist/*.map
